.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 215px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.title {
  color: #212121;
}

.text {
  color: #757575;
}

.header {
  padding-bottom: 25px;
  padding-top: 24px;
}

.header .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list,
.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation-list-item:not(:last-child),
.address-list-link:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}

.navigation-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  margin-left: 93px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .address-list-link {
    color: var(--text-color);
    transition-property: color;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
} */
.address-svg {
  fill: #757575;
  margin-right: 10px;
}

.address-list-link :hover .address-svg,
.address-list-link :focus .address-svg {
  fill: var(--accent-color);
  -webkit-transition-property: var(--accent-color);
  transition-property: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link,
.tel-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link :hover,
.address-list-link :focus {
  color: var(--accent-color);
}

.logo, .logo-blue, .logo-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-blue {
  color: #2196F3;
}

.logo-white {
  color: #FFFFFF;
}

.navigation-list-link-active {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list-link-active::after {
  position: absolute;
  content: "";
  display: block;
  /* margin: 0 avto;  */
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  content: "";
  background: rgba(47, 48, 58, 0.4);
  background-image: url(../images/background/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero > .conteiner {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--dark-theme-color);
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--dark-theme-color);
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */