:root {
--main-font: "Roboto", sans-serif;
--secondary-font: "Raleway", sans-serif; 
--accent-color: #2196F3;
--dark-theme-color: #FFFFFF;
--subtitle-light-theme-color: #212121;
--navigation-list-color: rgba(0, 0, 0, 0.25);
--text-color: #757575;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    /* box-sizing: inherit;  */
margin: 0px;
padding: 0px;  
}

body {
    font-family: var(--main-font);
    font-style: normal;    
}
img{
    display: block;
}
.conteiner{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 215px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}
.address {
font-style: normal;
}
.title{
    color: var(--subtitle-light-theme-color);
}
.text{
    color: var(--text-color);
}
/* ======== HEADER ========= */
/* == LOGO == */
.logo,
.logo-white {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #000000;
}
.logo-blue {
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #2196F3;
}
/* === END LOGO === */
/* === HEADER === */
.header{
    padding-bottom: 25px;
    padding-top: 24px;
}
.header>.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.navigation {
    display: flex;
}
.navigation-list,
.address-list {
    display: flex;
    align-items: center;
}
.navigation-list-item:not(:last-child),
.address-list-link:not(:last-child) {
    margin-left: auto;
    margin-right: 50px;
}
.navigation-list{
    margin-left: 93px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.address-svg {
fill: #757575;
margin-right: 10px;

}
.address-list-link :hover .address-svg,
.address-list-link :focus .address-svg{
    fill: var(--accent-color);
}
  
.mail-link,
.tel-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
}
.navigation-list-link:hover,
.navigation-list-link:focus, 
.address-list-link :hover, 
.address-list-link :focus {
    color: var(--accent-color); 
}
/* =====END HEADER====== */
/* ====== HERO ====== */
.hero{
    content: "";
   
     background: rgba(47, 48, 58, 0.4);

    background-image: url(../images/background/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero>.conteiner {
text-align: center;
padding-bottom: 200px;
padding-top: 200px;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.364;
letter-spacing: 0.06em;
color: var(--dark-theme-color);
width: 696px;
margin-right: auto;
margin-left: auto;
}

.modal-btn {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color:var(--dark-theme-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    }
/* ====== ABOUT US ====== */

.about-us{
    padding-top:  94px;
    padding-bottom: 94px;
    } 
.about-item:not(:last-child) {
    margin-right: 30px;   
    }
.about-list{
    display: flex;
}   

.icon-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px; 
} 

.about-us-title{
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

}
.about-us-text{
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
max-width: 270px;
}
/* ====== END ABOUT US ====== */
/* ======   what are we doing ====== */
.work{
    padding-bottom: 94px;
}
.work>.work-list{
    display: flex;
    }
.subtitle{
    text-align: center;
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    justify-content: center; 
    
}
.work-item:not(:last-child) {
 margin-right: 30px; 
 }

.subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
letter-spacing: 0.03em;
}
.work-item{
    position: relative;
}
.image-title-conteiner{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
bottom: 0;
left: 0; 
background: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;

}
.image-title{
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
color: var(--dark-theme-color);
}
/* ======  end what are we doing ====== */
/* ======  OUR TEAM ====== */

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.team-list{
    display: flex;
    justify-content: center;
    }
.team-conteiner{
    text-align: center;
    padding-top: 30px;
    }
.about-list-item:not(:last-child){
    margin-right: 30px;
}
.about-list-item{
    width: 270px;
    height: 428px;
    padding-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-position {
margin-top: 10px;
margin-bottom: 16px;
}
.team-name,
.team-position {
font-weight: 400;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
}
.social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
     
}
.social-link {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    fill: #afb1b8;
    
}
.social-item :hover,
.social-item :focus {
    background-color: var(--accent-color);
}
.social-link:hover .social-svg,
.social-link:focus .social-svg {
    fill: var(--dark-theme-color);       
   }
.social-svg{
    width: 22px;
    height: 22px;
}
.social-item:not(:last-child){
    margin-right: 10px;
}

/* ======  END OUR TEAM ====== */
/* ====== CLIENT ====== */
.client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-list{
    display: flex;
    justify-content: space-between;
}
.client-link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}
.client-item:not(:last-child){
    margin-right: 30px;
}
.icon-client{
    fill: #afb1b8;
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-color);  
   }
.client-link:hover .icon-client,
.client-link:focus .icon-client{
    fill: var(--accent-color);
   }
/* ====== END CLIENT ====== */
/* ====== CONTACT ====== */
.footer>.conteiner{
    display: flex;
}
.footer {
    display: flex;
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}

.footer-address{
    margin-top: 20px;
}
 
.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.logo-white{
color: var(--dark-theme-color);
}
.contact-list-link-map {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--dark-theme-color);
}
.contact-list-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.contact-list-item :hover,
.contact-list-item :focus {
    color: var(--accent-color);
}
.footer-title{

font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--dark-theme-color);
}
.social-conteiner{
    margin-left: 70px;
}
.social-conteiner>.social-list{
    margin: 0;
}
.social-link-footer{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    fill: var(--dark-theme-color);
    background: rgba(255, 255, 255, 0.1);
}
.social-link-footer :hover{
    background-color: var(--accent-color);
}
    

/* ====== END CONTACT ====== */
/* ======== MODAL ======= */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none; 
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    min-width: 528px;
    min-height: 581px;
    padding: 15px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    }  
.modal-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    background-color: #fff;
    border: none;
    cursor: pointer;    
    }

/* ============== END MODAL ============== */

/* =================PORTFOLIO================= */
.navigation-list-link-active{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* ===BUTTON==== */
.portfolio-section {
    padding-bottom: 94px;
    padding-top: 94px;
    }

.work-list{
    flex-wrap: wrap;
}

.portfolio-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }
.item:not(:last-child){
    margin-right: 8px;
    }

.portfolio-modal-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
background: #F5F4FA;
border: none;
border-radius: 4px;
color: var(--subtitle-light-theme-color);
height: 38px;
padding: 6px 22px
}

.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border: none;
border-radius: 4px;
/* transition: 250ms;
cubic-bezier(0.4, 0, 0.2, 1) */
}
/* ===END BUTTON==== */
/* =====WORK LIST===== */
.work-type{
    position: relative;
    display: flex;    
    }
.work-type :hover.link,
.work-type :focus.link{        
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
    /* transition: 250ms;
    cubic-bezier(0.4, 0, 0.2, 1) */
    }
.work-type:not(:nth-child(3n+0)){
    margin-right: 30px;
    }
.work-type:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
.work-name-conteiner{
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.work-name{
    margin-bottom: 4px;
}
.work-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.work-type-name {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
}
.work-image-conteiner{
    position: relative;
}
.work-description{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex; 
justify-content: center;
align-items: center; 
opacity: 0;
}
 .link:hover .work-description{
    background: rgba(33, 150, 243, 0.9);
    opacity: 1;
 }
.description-text{
width: 322px;
height: 168px;
font-weight: 400;
font-size: 18px;
line-height: 1.556;
letter-spacing: 0.03em;
color: var(--dark-theme-color);
}
/* =====END WORK LIST===== */
/* =================END PORTFOLIO================= */
