:root {
--main-font: "Roboto", sans-serif;
--secondary-font: "Raleway", sans-serif; 
--accent-color: #2196F3;
--dark-theme-color: #FFFFFF;
--subtitle-light-theme-color: #212121;
--navigation-list-color: rgba(0, 0, 0, 0.25);
--text-color: #757575;
}
*,
*::before,
*::after{
margin: 0px;
padding: 0px;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    
}
img{
    display: block;
}
.conteiner{
    width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 215px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.address {
font-style: normal;
}
.title{
    color: var(--subtitle-light-theme-color);
}
.text{
    color: var(--text-color);
}
/* ======== HEADER ========= */
/* == LOGO == */
.logo,
.logo-white {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #000000;
}
.logo-blue {
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #2196F3;
}
/* === END LOGO === */
/* === HEADER === */
.header{
    margin-bottom: 25px;
    margin-top: 24px;
}
.header>.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.navigation {
    display: flex;
}
.navigation-list,
.address-list {
    display: flex;
    align-items: center;
}
.navigation-list-item,
.address-list-link {
    margin-left: auto;
    margin-right: 50px;
}
.navigation-list{
    margin-left: 93px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mail-link,
.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus, 
.address-list-link :hover, 
.address-list-link :focus {
    color: var(--accent-color); 
}
/* =====END HEADER====== */
/* ====== HERO ====== */

.dark-theme-hero {
background-color: #2F303A;
text-align: center;
padding-bottom: 200px;
padding-left: 452px;
padding-top: 200px;
padding-bottom: 280px;
padding-right: 452px;
height: 600px;
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.364;
letter-spacing: 0.06em;
color: var(--dark-theme-color);
}
.modal-btn {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color:var(--dark-theme-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    height: 50px;
    margin-top: 30px;
    }
/* ====== ABOUT US ====== */
.about-us> .conteiner{
    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
    width: 1170px;
    justify-content: space-between;
    }
    .about-list:not(:last-child) {
     margin-right: 30px;   
    }
   

.about-us-title{
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

}
.about-us-text{
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
max-width: 270px;
}
/* ====== END ABOUT US ====== */
/* ======   what are we doing ====== */
.work{
    margin-bottom: 94px;
}
.work>.work-list{
    display: flex;
    margin-bottom: 94px;
    }
.subtitle{
    text-align: center;
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    justify-content: center; 
    
}
.work-item:not(:last-child) {
 margin-right: 30px; 
 }

.subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
letter-spacing: 0.03em;
}
/* ======  end what are we doing ====== */
/* ======  OUR TEAM ====== */

.team-subtitle{
    padding-top: 94px;
}
.team-list{
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
    }
.team-conteiner{
    text-align: center;
    margin-top: 30px;
    }
.about-list-item:not(:last-child){
    margin-right: 30px;
}
.about-list-item{
    width: 270px;
    height: 368px;
}
.team-position {
margin-top: 10px;
margin-bottom: 30px;
}
.team-name,
.team-position {
font-weight: 400;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
}
/* ======  END OUR TEAM ====== */
/* ====== CONTACT ====== */

.footer>.conteiner {
padding-top: 60px;
padding-bottom: 60px;
padding-left: 215px;
}
.footer {
width: 1600px;
height: 252px; 
background: #2F303A;
margin-left: auto;
margin-right: auto;
} 
.contact-list{
    margin-top: 20px;
}
.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.logo-white{
color: var(--dark-theme-color);
}
.contact-list-link-map {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--dark-theme-color);
}
.contact-list-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.contact-list-item :hover,
.contact-list-item :focus {
    color: var(--accent-color);
}
/* ====== END CONTACT ====== */
/* =================PORTFOLIO================= */
.navigation-list-link-active{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* ===BUTTON==== */
.portfolio-section>.conteiner{
    margin-bottom: 94px;
    max-width: 1200px;
    }
.work-list{
    flex-wrap: wrap;
}
.portfolio-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    padding-top: 94px;
    padding-bottom: 16px;
    }
.item:not(:last-child){
    margin-right: 8px;
    }

.portfolio-modal-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
background: #F5F4FA;
border: none;
border-radius: 4px;
color: var(--subtitle-light-theme-color);
height: 38px;
padding: 6px 22px
}

.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border: none;
border-radius: 4px;
}
/* ===END BUTTON==== */
/* =====WORK LIST===== */
.work-type{
    display: flex;
    }
.work-type:not(:nth-child(3n+0)){
    margin-right: 30px;
    }
.work-type:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
.work-name-conteiner{
    padding: 20px 24px;
}
.work-name{
    margin-bottom: 4px;
}
.work-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.work-type-name {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
}
/* =====END WORK LIST===== */
/* =================END PORTFOLIO================= */
