

.header{
    padding-bottom: 25px;  
   padding-top: 24px;   
   .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between; 
 }
}

.navigation {
   display: flex;
}
.navigation-list,
.address-list {
    display: flex;
    align-self: center;
    
    }

.navigation-list-item:not(:last-child),
.address-list-link:not(:last-child) {
    margin-left: auto;
    margin-right: 50px;
}
.navigation-list-item{
    display: flex;
}
.navigation-list{
    margin-left: 93px;    
}
.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .address-list-link {
    color: var(--text-color);
    transition-property: color;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
} */

.address-svg {
fill: #757575;
margin-right: 10px;


}
.address-list-link :hover .address-svg,
.address-list-link :focus .address-svg{
    fill: var(--accent-color);
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.mail-link,
.tel-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover,
.navigation-list-link:focus, 
.address-list-link :hover, 
.address-list-link :focus {
    color: var(--accent-color); 
    
    
}