.hero{
    content: "";
   
     background: rgba(47, 48, 58, 0.4);

    background-image: url(../images/background/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero>.conteiner {
 text-align: center; 
padding-bottom: 200px;
padding-top: 200px;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.364;
letter-spacing: 0.06em;
color: var(--dark-theme-color);
width: 696px;
margin-right: auto;
margin-left: auto;
}

.modal-btn {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color:var(--dark-theme-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    }
    