.work-list{
    flex-wrap: wrap;
    &.work-type{
        position: relative;
        display: flex;
        &:not(:nth-child(3n+0)){
            margin-right: 30px;
        }
        &:not(:nth-last-child(-n+3)){
            margin-bottom: 30px;
        }
        &:hover,
        &:focus {
            &.link{
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
                @include  transition(box-shadow);
                // transition-property: box-shadow;
                // transition-duration: 250ms;
                // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
            }
        }

    }
}
.work-link{
    &.work-image-conteiner{
        position: relative;
        overflow: hidden;
    }
    &:hover,
    &:focus {
        &.work-description{
            background: rgba(33, 150, 243, 0.9);
            transform: translateY(0);    
        }
    }
}
.work-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9); 
    &.description-text{   
        width: 322px;
        height: 168px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.556;
        letter-spacing: 0.03em;
        color: $dark-theme-color; 
        /* opacity: 0;
        transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);  */
    } 
}
.work-name-conteiner{
    padding: 20px 24px;
    background: $dark-theme-color;
    border: 1px solid #EEEEEE;
    &.work-name{
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &.work-type-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
    }
}
    // .work-link:hover .work-description,
    // .work-link:focus .work-description{
    //     background: rgba(33, 150, 243, 0.9);
    //     transform: translateY(0);    
    //  }
    // .description-text{   
    // width: 322px;
    // height: 168px;
    // font-weight: 400;
    // font-size: 18px;
    // line-height: 1.556;
    // letter-spacing: 0.03em;
    // color: $dark-theme-color; 
    // /* opacity: 0;
    // transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);  */
    // }
// .work-image-conteiner{
//     position: relative;
//     overflow: hidden;
// }

// .work-type{
//     position: relative;
//     display: flex;    
//     }
// .work-link {
// /* width: 370px; */
// /* overflow: hidden; */
// }    
// .work-type :hover.link,
// .work-type :focus.link{        
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
//     0px 4px 4px rgba(0, 0, 0, 0.06), 
//     1px 4px 6px rgba(0, 0, 0, 0.16);
//     transition-property: box-shadow;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    
//     }
// .work-type:not(:nth-child(3n+0)){
//     margin-right: 30px;
//     }
// .work-type:not(:nth-last-child(-n+3)){
//     margin-bottom: 30px;
// }

// .work-name{
//     margin-bottom: 4px;
// }
// .work-name {
// font-weight: 700;
// font-size: 18px;
// line-height: 2;
// letter-spacing: 0.06em;
// }
// .work-type-name {
// font-weight: 400;
// font-size: 16px;
// line-height: 1.875;
// letter-spacing: 0.03em;
// }

