.navigation-list-link-active{   
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: block;
    align-items: center; 
      
    
}
.navigation-list-link-active::after{    
    position: absolute;
    content: "";
    display: block;
     /* margin: 0 avto;  */
     margin-top: 28px; 
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}