.work{
    padding-bottom: 94px;
}
.work>.work-list{
    display: flex;
    }
.subtitle{
    text-align: center;
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    justify-content: center; 
    
}
.work-item:not(:last-child) {
 margin-right: 30px; 
 }

.subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
letter-spacing: 0.03em;
}
.work-item{
    position: relative;
}
.image-title-conteiner{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
bottom: 0;
left: 0; 
background: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;

}
.image-title{
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
color: $dark-theme-color;
}